---
title: Ilaria Lupi | Psicologa Psicoterapeuta | Udine
---

<h1>Ilaria Lupi</h1>
<p>Psicologa Psicoterapeuta</p>

<div class="jumbotron">

</div>

<p>La Dott.ssa Lupi conduce percorsi di consulenza psicologica e di psicoterapia rivolti a individui, alla coppia e alla famiglia.</p>

<p>Le problematiche possono riguardare le difﬁcoltà relazionali, le difﬁcoltà emotive, i problemi alimentari, le difﬁcoltà genitoriali, i problemi di coppia, i disturbi psicosomatici, l’ansia, la depressione, il lutto e molte altre situazioni diverse.</p>

<p>Qualsiasi sia il sintomo o il problema il percorso è ﬁnalizzato a comprenderne il senso e a favorire lo sviluppo di un maggiore benessere.</p>

<p>I percorsi di consulenza e di psicoterapia vengono condotti secondo un orientamento sistemico relazionale.</p>

<p>Per qualsiasi altra informazione riguardo alla tutela della privacy e al segreto professionale potete fare riferimento al Codice deontologico della professione.</p>


<h2>Costi e tempi</h2>

<p>I colloqui individuali hanno solitamente una frequenza iniziale di una volta a settimana, una durata di circa 50 minuti e un costo di 70 Euro.</p>

<p>I colloqui di coppia e familiari hanno solitamente una frequenza quindicinale, una durata di circa 1 ora e un quarto e un costo di 90 Euro.</p>

<p>La durata di un percorso di consulenza o di psicoterapia viene valutata insieme alla persona sulla base delle sue difficoltà e delle sue esigenze e può essere rideﬁnita in qualsiasi momento.</p>

<p>Per maggiori informazioni sulle tariffe professionali si rimanda al sito dell’Ordine degli psicologi del Friuli Venezia Giulia.</p>

<h2>Contatti</h2>


<p>Ilaria Lupi riceve su appuntamento presso lo Studio Associato di Psicologia e Psicoterapia di
  <%= link_to "Via San Paolo n.6 a Feletto Umberto di Tavagnacco, Udine", "http://goo.gl/maps/9pAjC" %></p>

<p>Per informazioni o appuntamenti potete telefonare al numero 349 4458686 o inviare una mail a
  <%= link_to "ilarialupi@gmail.com", "mailto:ilarialupi@gmail.com" %></li>
</p>
